
// Colors
$blue: #60AEDC;
$dark-blue: #31455A;
$sand: #E4CEA5;

$simple-grey: #444;
$grey: #BFC5CE;
$small-grey: #343D46;
$beige: #ddd;
// D2D2D2
$light-grey: #FDFDFD;
$dark-beige: #939292;

$orange: #C2876C;
$red: #BF616A;
$green: #7DB2B4;
$yellow: #9DB168;
$aqua: #0B87D5;
$rose: #B583A2;


// Charts
$bg-time: #574283;
// $bg-time: #D7905E;


// Elements
$header-bg: $light-grey;
// $header: $large-blue;
// $header-links: $grey;
// $header-links-hover: $medium-blue;
// $header-links-icons: $small-grey;

// #444E59
$background-before: lighten($small-grey, 5%);
$background: $small-grey;

$primary-link: $orange;
$primary-color: $dark-blue;
$inactive-color: $beige;


// Breakpoints
$mobile: 480px;
$tablet: 728px;

$max-width: 68em;