
.page-search {

	h1 {
		margin-left: 1.5em;
		margin-right: 1.5em;
	}

	.list {

		a {
			padding: 1em 1.5em;
			display: block;
			position: relative;
			color: $primary-color;

			&:hover {
				background: $header-bg;
				box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06);

				&::before,
				&::after {
					content: "";
					position: absolute;
					background: $header-bg;
					left: 0;
					right: 0;
					height: 10px;
				}
				&::before {
					top: 0;
				}
				&::after {
					bottom: 0;
				}
			}

			.date {
				position: absolute;
				right: 280px;
				font-size: .8em;
			}

			.size {
				position: absolute;
				right: 20px;
				font-size: .8em;
			}
		}
	}
}

