
.form-group {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0 1em;
	z-index: 100;
}

.form {
	margin: auto;
	width: 30%;
	padding-top: 12em;
	transition: padding 200ms ease-in-out, width 200ms ease-in-out;
	max-width: $max-width;
	position: relative;

	&.is-inactived {
		form {
			position: relative;
		}
		button {
			display: none;
		}

		&.is-focused {
			button {
				display: block;
			}
			input {
				box-shadow: none;
			}
		}
	}

	&.is-actived {	
		border-radius: 2px 2px 0 0;
		background: $header-bg;
		// border-bottom: 1px solid $beige;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		margin-top: 42px !important;
		width: 100%;
		padding: .73em;

		.back {
			display: block;
		}

		form {
			padding-left: 50px;
			padding-right: 50px;
		}

		input {
			text-align: left;
			background-color: transparent;
		}

		button {
			padding: 1.3em 1.5em;
		}

		&.is-focused {
			background: #fff !important;
			padding: 0;
			z-index: 120;
		  position: relative;

			form {
				padding-left: 0;
				padding-right: 0;
			}

			// &::after {
			// 	content: "";
			// 	position: absolute;
			// 	top: 3.7em;
			// 	left: 0;
			// 	right: 0;
			// 	bottom: 0;
			// 	background: rgba(0,0,0,.4);
			// 	border-radius: 0 0 2px 2px;
			// }

			input {
				border-radius: 0 !important;
				padding: 1.25em 3.8em;
			}
		}
	}

	form {
		transition: padding 200ms ease-in-out;

		input {
			margin-bottom: initial;
			text-align: center;
			border-top: none;
			border-left: none;
			border-right: none;
			box-shadow: none;
			border-radius: 0;
			color: $inactive-color;
			background: transparent !important;
			transition: color 200ms ease-in-out, border 200ms ease-in-out, padding 200ms ease-in-out, box-shadow 200ms ease-in-out;

			&:focus {
				color: $primary-color;
				padding-right: 50px;
				text-align: left;
				border-color: #999;
				box-shadow: inset 0 1px 3px rgba(0,0,0,0.06),0 0 5px rgba(0, 0, 0, 0.2);
			}
		}

		button {
			position: absolute;
			right: 0;
			top: 0;

			background: transparent;
			font-weight: normal;
			padding: 10px 18px;
			padding: .61em 1.4em;

			&:focus {
				box-shadow: none;
				outline: 0;
			}

			.icon {
				color: $inactive-color;
			}
		}
	}

	.back {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		padding: .7em 1.0em;
		margin: 0.35em;
		border-radius: 50%;
		color: $beige;
		transition: background 200ms ease-in-out, color 200ms ease-in-out;
		z-index: 110;

		&:hover {
			color: #fff;
			background: darken($beige, 8%)		
		}
	}
}