
.footer {
	font-size: .8em;
	text-align: center;
	color: lighten($small-grey, 15%);
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;

	a {
		color: lighten($small-grey, 15%);
		text-decoration: underline;
	}
}